<%= form_for [@webpage, @body] do |f| %>
  <div class="field">
    <%= f.label :subheader %><br>
    <%= f.text_field :subheader %>
  </div>
  <div class="field">
    <%= f.label :paragraph %><br>
    <%= f.text_area :paragraph %>
  </div>
  <div class="field">
    <%= f.hidden_field(:webpage_id, :value => @webpage.id)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
