<p id="notice"><%= notice %></p>

<p>
  <strong>Subheader:</strong>
  <%= @body.subheader %>
</p>

<p>
  <strong>Paragraph:</strong>
  <%= @body.paragraph %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @body.webpage_id %>
</p>

<%= link_to 'Edit', edit_body_path(@body) %> |
<%= link_to 'Back', bodies_path %>
