<h1> Welcome to the Admin Portal </h1>
<h3> Function Cofee Labs (replace with logo) </h3>
<hr>

Username: <%= @admin.username %>
<%= tag :br %>
Pin: <%= @admin.pin %>
<%= tag :br %>
<%= link_to("Sign Out", '/logout', method: :delete) %>
<hr>

<h3> Website Management </h3>
<p> Add a New Webpage </p>
<%= button_to "Add Webpage!", new_webpage_path, :method => "get" %>
<br>
<p> Edit Current Webpages </p>
<%= button_to "Edit Your Webpages!", webpages_path, :method => "get" %>
<hr>


<h3> Blog Management </h3>

<%= button_to "Create New Blog Post", new_post_path, :method => "get" %>
<%= tag :br %>
<%= button_to "Edit Blog Posts", '/pages/list', :method => "get" %>
<%= tag :br %>

