<!DOCTYPE html>
<html>
	<head>
		<title><%= @webpage.name %></title>
	</head>
		<body>
			<header class="other_header" style="background-image:url(<%= @webpage.header_image.head_img.url %>)">
				<nav class="other_nav">
					<ul class="navbar">
						<% @webpages.each do |web| %>
						<li class="other_li"><%= link_to "#{web.name}", "/webpages/#{web.id}" %></li>
						<% end %>
					</ul>
				</nav>
				<%= image_tag("Function.png", class: "other_logo") %>
			</header>
				<div class="webpage_header">
					<%= @webpage.headers.first.text %>
				</div>

				THIS IS A CONTENTPAGE
				
				<div class="webpage_content">
					<div class="webpage_subheader"><%= @webpage.bodies.first.subheader %></div>
					<div class="webpage_paragraph"><%= @webpage.bodies.first.paragraph %></div>
				</div>

				<div class="webpage_images">
					<% @webpage.images.each do |image| %>
						<div class="image"><%= image_tag image.img.url(:medium) %></div> <br><br>
					<% end %>
				</div>
		</body>

</html>