<%= form_for(@webpage) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, Webpage::PAGES.map {|x| [x]}%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
