<!DOCTYPE html>
<html>
	<head>
		<title><%= @webpage.name %></title>
	</head>
		<body>
			<header class="home_header" style="background-image:url(<%= @webpage.header_image.img.url %>)">
				<nav class="home_nav">
					<ul class="navbar">
						<li class="home_li"><a href="">About</a></li>
						<li class="home_li"><a href="">Menu</a></li>
						<li class="home_li"><a href="">Contact</a></li>
					</ul>
				</nav>
				<%= image_tag("Function.png", class: "home_logo") %>
			</header>

			<div class="webpage_header">
				<%= @webpage.headers.first.text %>
			</div>

			THIS IS A HOMEPAGE
			
			<div class="webpage_content">
				<div class="webpage_subheader"><%= @webpage.bodies.first.subheader %></div>
				<div class="webpage_paragraph"><%= @webpage.bodies.first.paragraph %></div>
			</div>

			<div class="webpage_images">
				<% @webpage.images.each do |image| %>
					<div class="image"><%= image_tag image.img.url(:medium) %></div> <br><br>
				<% end %>
			</div>
		</body>
</html>