<p id="notice"><%= notice %></p>

<h1>Listing Webpages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webpages.each do |webpage| %>
      <tr>
        <td><%= webpage.name %></td>
        <td><%= webpage.type %></td>
        <td><%= link_to 'Show', webpage %></td>
        <td><%= link_to 'Edit', edit_webpage_path(webpage) %></td>
        <td><%= link_to 'Destroy', webpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webpage', new_webpage_path %>
