<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @webpage.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @webpage.type %>
</p>

<p>
  <strong>Header:</strong>
  <%= @webpage_header.text %>
</p>

<p>
  <strong>Header:</strong>
  <%= @webpage.header.text %>
</p>

<p>
  <strong>Body:</strong>
  <%= @webpage.body.subheader %>
  <%= @webpage.body.paragraph %>
</p>

