<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @webpage.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @webpage.type %>
</p>

<p>
  <strong>Header:</strong>
  <%= @webpage.headers.first.text %>
</p>

<p>
  <strong>Body:</strong> <br>
  Subheader: <%= @webpage.bodies.first.subheader%> <br>
  Paragraph: <%= @webpage.bodies.first.paragraph%>
</p>


