<p id="notice"><%= notice %></p>

<h1>Listing Headers</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Webpage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @headers.each do |header| %>
      <tr>
        <td><%= header.text %></td>
        <td><%= header.webpage_id %></td>
        <td><%= link_to 'Show', header %></td>
        <td><%= link_to 'Edit', edit_header_path(header) %></td>
        <td><%= link_to 'Destroy', header, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

