<%= form_for @image do |f| %>   
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %> <br> <br>
  </div>
  <div class="field">
  	<%= f.label :Image %><br>
	<%= f.file_field :img %> <br> <br>
  </div>
  <div class="actions">
    <%= f.submit "Upload New Image"%> <br><br>
  </div>
<% end %>

